<div class="example-container" [formGroup]="SubCategoryForm"  >

    <mat-form-field>
        <mat-select placeholder="Select Category" formControlName="categoryid" >
          <mat-option *ngFor="let i of CategoriesData" value="{{i._id}}">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter Sub Category Name" formControlName="name"  >
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Sub Category Description" formControlName="description"  ></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="SubCategoryFormSubmit(SubCategoryForm.value)"  >Add Sub Category</button>
</div>